In [1]:
import pandas as pd

In [5]:
data = pd.read_csv("grau-de-satisfacci-de-vi(3)-refine.csv")
data

               DateTime        Puntuacion
0   1995-11-15 00:00:00  7,86015164279697
1   1996-03-15 00:00:00  7,83003913834811
2   1997-12-15 00:00:00  7,89336102624564
3   1998-04-15 00:00:00  7,89887351037086
4   1999-03-15 00:00:00  7,93288453748291
5   2000-04-15 00:00:00  7,82321010210401
6   2001-04-30 00:00:00  7,91878499592799
7   2002-04-15 00:00:00  7,84782293079757
8   2003-03-15 00:00:00  8,01396055225414
9   2004-06-07 00:00:00  7,83276403267568
10  2005-06-03 00:00:00  7,57121773667488
11  2006-06-01 00:00:00  7,53188704863953
12  2007-11-10 00:00:00  7,39981868652449
13  2008-06-18 00:00:00  7,51881410302235
14  2009-05-21 00:00:00  7,56997850900579
15  2010-05-25 00:00:00  7,48472834573067
16  2011-10-05 00:00:00  7,53129500392649
17  2012-05-31 00:00:00  7,52577703664589
18  2013-05-17 00:00:00  7,72124517865056
19  2014-05-26 00:00:00  7,60456753701665
20  2015-10-27 00:00:00   7,8172035348899
21  2016-05-11 00:00:00  7,87059447796789
22  2017-05-23 00:00:00  7,81952320719233
23  2018-05-20 00:00:00  7,82297040837065
24  2019-02-27 00:00:00  7,73106924505704
25  2020-10-10 00:00:00  7,33798150635405
26  2021-05-05 00:00:00  7,45367473189868
27  2022-04-07 00:00:00  7,35797646010883

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   DateTime    28 non-null     object
 1   Puntuacion  28 non-null     object
dtypes: object(2)
memory usage: 576.0+ bytes

In [14]:
data['anyo'] = data['DateTime'].str[:4] #Extraer solo los primeros cuatro caracteres
data

               DateTime        Puntuacion  anyo
0   1995-11-15 00:00:00  7,86015164279697  1995
1   1996-03-15 00:00:00  7,83003913834811  1996
2   1997-12-15 00:00:00  7,89336102624564  1997
3   1998-04-15 00:00:00  7,89887351037086  1998
4   1999-03-15 00:00:00  7,93288453748291  1999
5   2000-04-15 00:00:00  7,82321010210401  2000
6   2001-04-30 00:00:00  7,91878499592799  2001
7   2002-04-15 00:00:00  7,84782293079757  2002
8   2003-03-15 00:00:00  8,01396055225414  2003
9   2004-06-07 00:00:00  7,83276403267568  2004
10  2005-06-03 00:00:00  7,57121773667488  2005
11  2006-06-01 00:00:00  7,53188704863953  2006
12  2007-11-10 00:00:00  7,39981868652449  2007
13  2008-06-18 00:00:00  7,51881410302235  2008
14  2009-05-21 00:00:00  7,56997850900579  2009
15  2010-05-25 00:00:00  7,48472834573067  2010
16  2011-10-05 00:00:00  7,53129500392649  2011
17  2012-05-31 00:00:00  7,52577703664589  2012
18  2013-05-17 00:00:00  7,72124517865056  2013
19  2014-05-26 00:00:00  7,60456753701665  2014
20  2015-10-27 00:00:00   7,8172035348899  2015
21  2016-05-11 00:00:00  7,87059447796789  2016
22  2017-05-23 00:00:00  7,81952320719233  2017
23  2018-05-20 00:00:00  7,82297040837065  2018
24  2019-02-27 00:00:00  7,73106924505704  2019
25  2020-10-10 00:00:00  7,33798150635405  2020
26  2021-05-05 00:00:00  7,45367473189868  2021
27  2022-04-07 00:00:00  7,35797646010883  2022

In [24]:
data = data[['anyo','Puntuacion']]
data

    anyo        Puntuacion
0   1995  7,86015164279697
1   1996  7,83003913834811
2   1997  7,89336102624564
3   1998  7,89887351037086
4   1999  7,93288453748291
5   2000  7,82321010210401
6   2001  7,91878499592799
7   2002  7,84782293079757
8   2003  8,01396055225414
9   2004  7,83276403267568
10  2005  7,57121773667488
11  2006  7,53188704863953
12  2007  7,39981868652449
13  2008  7,51881410302235
14  2009  7,56997850900579
15  2010  7,48472834573067
16  2011  7,53129500392649
17  2012  7,52577703664589
18  2013  7,72124517865056
19  2014  7,60456753701665
20  2015   7,8172035348899
21  2016  7,87059447796789
22  2017  7,81952320719233
23  2018  7,82297040837065
24  2019  7,73106924505704
25  2020  7,33798150635405
26  2021  7,45367473189868
27  2022  7,35797646010883

In [26]:
data ['Puntuacion'] = data['Puntuacion'].str.replace(',', '.').astype(float) #Sustituye coma por punto y convierte a tipo float

In [31]:
data ['Puntuacion'] = data['Puntuacion'].round(2)
data

    anyo  Puntuacion
0   1995        7.86
1   1996        7.83
2   1997        7.89
3   1998        7.90
4   1999        7.93
5   2000        7.82
6   2001        7.92
7   2002        7.85
8   2003        8.01
9   2004        7.83
10  2005        7.57
11  2006        7.53
12  2007        7.40
13  2008        7.52
14  2009        7.57
15  2010        7.48
16  2011        7.53
17  2012        7.53
18  2013        7.72
19  2014        7.60
20  2015        7.82
21  2016        7.87
22  2017        7.82
23  2018        7.82
24  2019        7.73
25  2020        7.34
26  2021        7.45
27  2022        7.36

In [32]:
data.to_csv('output/felicidad_pandas.csv')

OSError: Cannot save file into a non-existent directory: 'output'